{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
    <link rel="stylesheet" href="{% static 'css/bill_layout.css' %}">
</head>
<body>


<!-- Invoice Modal -->
<div id="invoiceModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="bill-container">
            <div class="bill-header">
                        <h1>{{ company_name }}</h1>
                <p>Gokarneshwor-4, Kathmandu</p>
                        <p>{{ company_phone }}</p>
            </div>
            <div class="bill-body">
                <div class="invoice-date">
                    <span class="label">Invoice Date : </span>
                            <span class="value"> {{ invoice_date |date:" Y M d" }}</span>
                </div>
                <div class="customer-info">
                    <div class="info-row">
                        <span class="label">BILL No.:</span>
                                <span class="value">{{ order_id }}</span>
                    </div>
                    <div class="info-row">
                        <span class="label">Buyer's Name:</span>
                                <span class="value_underline">{{ customer }}</span>
                    </div>
                    <div class="info-row">
                        <span class="label">Address:</span>
                                <span class="value_underline">{{ address }}</span>
                    </div>

                    <div class="info-row">
                        <span class="label">Phone No:</span>
                                <span class="value_underline">{{ customer_phone }}</span>
                    </div>
                </div>
                <div class="info-table">
                    <table class="items-table" border="1">
                        <thead>
                            <tr>
                                <td>Products</td>
                                <td>Qty</td>
                                <td>Price</td>
                                <td>Total</td>
                            </tr>
                        </thead>
                        <tbody class="bill-item-body">
                                {% for data in context %}
                            <tr>
                                        <!-- <td>{{ data.order.customer.name }}</td> -->
                                        <td>{{ data.product.name }}</td>
                                        <td>{{ data.quantity }}</td>
                                        <td>{{ data.product_price }}</td>
                            </tr>
                                {% endfor %}
                            <tr>
                                <td>Sub Total</td>
                                <td></td>
                                <td></td>
                                        <td>{{ total_amount }}</td>
                            </tr>
                            <tr>
                                <td>Amount in words</td>
                                <td colspan="3">Eleven Thousand Three Hundred Ninety Only</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bill-footer">
                <div class="signature-container">
                    <div class="signature-line">...................</div>
                    <div class="signature">Signature</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
