{%extends 'layout.html'%}
{% load static %}

{% block extra_css %}
<script src="https://cdn.tailwindcss.com"></script>
{%endblock%}
{%block content%}
<header class="client-layout-header">
    <span class="text-xs bg-blue-50 text-blue-600 px-2 py-1 rounded-full">Today: {% now "F j, Y" %}</span>
   <div class="flex items-center space-x-3">
                <div class="flex items-center space-x-2 text-sm text-gray-600">
                    <i class="fas fa-clock"></i>
                    <span>{% now "h:i A" %}</span>
                </div>
                <div class="w-8 h-8 bg-gradient-to-r from-[#4361ee] to-[#3a0ca3] text-white rounded-full flex items-center justify-center font-bold text-sm">
                    {{ request.user.username.0 | upper }}
                </div>
            </div>
</header>
{%endblock%}