{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="{% static 'css/bill.css' %}">
{% endblock %}

{% block content %}
<!--stock buttons-->
<div class="stock-popup" id="addStockPopup">
    <button class="popup-btn" id="addStock">Add Stock</button>
    <button class="popup-btn" id="removeStock">Remove Stock</button>
</div>
<div class="modal" id="addStockModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add Stock</h3>
            <button class="close-btn" id="closeStockModal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="stockQuantity">Quantity To Add</label>
                <input type="text" id="stockQuantity" class="form-control stock-quantity" required>
            </div>
            <div class="productPrices">
                <div class="form-row">
                    <div class="form-group">
                        <label for="productPrices" class="product-price">Cost Price</label>
                        <input type="number" id="productPrices" class="form-control" placeholder="0.00" required>
                    </div>
                    <div class="form-group">
                        <label for="stockDate">Date</label>
                        <input type="date" id="stockDate" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="stockRemarks">Remarks</label>
                <input type="text" id="stockRemarks" class="form-control"
                       placeholder="Enter remarks.....">
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-light" id="cancelStockBtn">Cancel</button>
            <button class="btn btn-primary" id="saveStockBtn">Add Stock</button>
        </div>

    </div>
</div>
{% endblock %}
{%block extra_js%}
<script src="{%static 'js/product.js'%}"></script>
{%endblock%}